html, body
{
    display: block;
    position: relative;
    width: 100vw;
    height: 100%;
    min-height: 100vh;

    background-color: #000;
    overflow: hidden;
}

.hidden,
.d-none
{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 100%;
    height: 100%;

    min-width: 100vw;
    min-height: 100vh;

    background-color: #000;
}

.wj-scene
{
    display: none;
    opacity: 0;
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    border: none; //solid 1px red;

    &.active
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        opacity: 1;
        visibility: visible;
    }

    &__buttons
    {
        width: 50%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 0 auto;
        padding: 30px;
        // border: solid 1px blue;
    }

    &__title
    {
        position: relative;
        margin: 0 auto;
        padding: 30px;
        // border: solid 1px red;

        width: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        text-align: center;

        color: white;

        h1, h2, h3, h4, h5, h6, p
        {
            margin: 0 auto;
            padding: 0;

            font-size: 72px;
            font-weight: bold;

            & > span
            {
                display: block;
                position: relative;
                margin: 0 auto;
                padding: 0;
            }
        }
    }

    &--intro
    {
        background-image: url('../img/bg-0.jpg');
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }

    &--main
    {
        &.active
        {
            // display: block;
        }
    }
}

.wj-button
{
    display: block;
    position: relative;
    margin: 0 15px;
    padding: 15px;

    border-radius: 48px;
    background-color: #ffb300;
    border: solid 8px #fff;
    color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;

    width: 100%;

    &--primary
    {

    }
}

.wj-video
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    video
    {
        width: 100%;
        height: 100%;
    }
}

.wj-hands
{
    position: relative;
    margin: 0;
    padding: 0;

    min-width: 25%;
    max-width: 25%;
    width: 25%;

    min-height: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;

    border: none; //solid 1px red;

    &__item
    {

        flex-grow: 1;

        display: block;
        position: relative;
        margin: 15px auto;
        padding: 0;

        background: none;
        border: none; //solid 1px red;

        width: 100%;

        color: rgba(255, 255, 255, 0);
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        img
        {
            display: block;
            position: relative;
            margin: 0 auto;
            padding: 0;
            min-width: 100%;
            max-width: 100%;
            width: 100%;
            height: auto;
            border: none;
            object-fit: contain;
        }

        &--rock
        {
            background-image: url('../img/hand-rock.png');
        }

        &--paper
        {
            background-image: url('../img/hand-paper.png');
        }

        &--scissor
        {
            background-image: url('../img/hand-scissor.png');
        }
    }

    &.locked
    {
        .wj-hands__item
        {
            display: none;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            min-width: calc(100% - 30px);
            max-width: calc(100% - 30px);
            width: calc(100% - 30px);

            &.selected
            {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &--watame,
    &--player
    {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: auto;
        z-index: 3;
    }

    &--player
    {
        left: auto;
        right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        opacity: 0;

        &.ready
        {
            opacity: 1;
        }
    }

    &--watame
    {
        & > img
        {
            display: none;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            margin: 0 auto;
            padding: 0;
            min-width: calc(100% - 30px);
            max-width: calc(100% - 30px);
            width: calc(100% - 30px);
            height: auto;
            border: none;

            &.active
            {
                display: block;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}