.wj-hands
{
    position: relative;
    margin: 0;
    padding: 0;

    min-width: 25%;
    max-width: 25%;
    width: 25%;

    min-height: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;

    border: none; //solid 1px red;

    &__item
    {

        flex-grow: 1;

        display: block;
        position: relative;
        margin: 15px auto;
        padding: 0;

        background: none;
        border: none; //solid 1px red;

        width: 100%;

        color: rgba(255, 255, 255, 0);
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        img
        {
            display: block;
            position: relative;
            margin: 0 auto;
            padding: 0;
            min-width: 100%;
            max-width: 100%;
            width: 100%;
            height: auto;
            border: none;
            object-fit: contain;
        }

        &--rock
        {
            background-image: url('../img/hand-rock.png');
        }

        &--paper
        {
            background-image: url('../img/hand-paper.png');
        }

        &--scissor
        {
            background-image: url('../img/hand-scissor.png');
        }
    }

    &.locked
    {
        .wj-hands__item
        {
            display: none;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            min-width: calc(100% - 30px);
            max-width: calc(100% - 30px);
            width: calc(100% - 30px);

            &.selected
            {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &--watame,
    &--player
    {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: auto;
        z-index: 3;
    }

    &--player
    {
        left: auto;
        right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        opacity: 0;

        &.ready
        {
            opacity: 1;
        }
    }

    &--watame
    {
        & > img
        {
            display: none;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            margin: 0 auto;
            padding: 0;
            min-width: calc(100% - 30px);
            max-width: calc(100% - 30px);
            width: calc(100% - 30px);
            height: auto;
            border: none;

            &.active
            {
                display: block;
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &--bottom
    {
        border: none; //solid 1px red;
        width: 50%;
        max-width: 50%;
        min-width: 50%;
        min-height: 72px;
        max-height: 100vh;
        height: 72px;
        left: 0;
        margin: 0 auto;
        padding: 0 30px 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .wj-hands__item
        {
            flex-grow: 0;
            min-width: calc(calc(100% - 30px) / 3);
            min-width: calc(calc(100% - 30px) / 3);
            width: calc(calc(100% - 30px) / 3);
            height: 100%;
            margin: 0;
        }
    }
}